:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  padding: 0px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  background-color: aliceblue;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  margin: auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  margin: auto;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  margin: auto;
}

.flip-card-front {
  background-color: white;
  border: 5px black solid;
  color: black;
  overflow: hidden;
  margin: auto;
}

.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
  font-size: smaller;
  border: 5px black solid;

}

img {
  width: auto;
  height: 10.5rem;
}

.scorecard {
  background-color: whitesmoke;
  border: 0.3rem solid black;
  border-radius: 30px;
  width: 29rem;
  height: 30vh;
  padding: 0%;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  overflow: hidden;
}

.team1img, .team2img{
  scale: 0.7;
}

.column {
  flex: 50%;
  padding: 10px;
}

h3 {
  text-align: center;
}

.form {
  border: 0.2rem solid black;
  text-align: center;
  margin: auto;
}

.btn {
  scale: 1.5;
  margin: 8rem;
  margin-top: 5px;
  margin-bottom: 5px;
}